<h2><%= @restaurant.name %></h2>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<%= link_to 'Back to list', restaurants_path, class: "btn btn-primary" %>
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<ul>
  <% @restaurant.reviews.each do |review| %>

    <li><%= review.content %></li>
    <li><%= review.rating %></li>
     <%= link_to "Delete",
    review_path(review),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

  <% end %>
</ul>
